<div class='container p-5'>
  <h1 class='font-bold text-lg'>EDIT TASK</h1>

  <%= form_with model: [ @category, @task]  do |form| %>
    <div class="field mb-2">    
      <%= form.label :name ,class:"form-label"%>
      <%= form.text_field :name ,class:"form-control"%>
    </div>
    <div class="field mb-2">
      <%= form.label :body ,class:"form-label" %>
      <%= form.text_area :body ,class:"form-control"%>
    </div>

    <div class="field mb-2">
      <%= form.label :task_date ,class:"form-label" %>
      <%= form.date_field :task_date ,class:"form-control"%>
    </div>
    <div class="field mb-2">
      <%= form.submit 'Save' ,class:'btn btn-dark' %>
    </div>
  <% end %>

  <%= link_to '<< Back', @task.category %>
</div>