<div class="container">
  
  <div class="d-flex justify-content-between align-items-center mb-2">
  <div></div>
    <%= link_to "back to categories", categories_path,class:"btn btn-dark" %>
  </div>



  <div class="card text-center">
      <div class="card-body p-2 d-flex justify-content-between align-items-center">
        <h5 class="card-title"><%= @category.name %></h5>
      <div>
        <%= link_to "Edit", edit_category_path(@category) %>
        <%= link_to "Delete", category_path(@category),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
      </div>
      </div>                   
  </div>

<% if @tasks.any? %>
<div>   
    <%= render 'tasks/task' %>
    
    <div class="card">   
      <div class="card-header bg-warning h5">
        DUE TODAY
      </div>
    
      <table class="table text-center">
        <thead class="text-center"> 
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Details</th>
            <th scope="col">Task date</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        <thead>

        <tbody>
        <% @tasks_today.each do |task| %>
          <tr>
            <td>&#9744;</td>
            <td><%= task.name %></td>
            <td><%= task.body %></td>
            <td><%= task.task_date %></td>
            <td><%= link_to 'Edit', edit_category_task_path(task.category, task) %></td>
            <td><%=link_to 'Delete', category_task_path(task.category, task), method: :delete, data: { confirm: "Are you sure?" } %></td>
            <%# <td><%= link_to 'Delete', [task.category, task], method: :delete, data: { confirm: "Are you sure?" }</td>  %>     
          </tr>
        <%end%>
        </tbody>
      </table>  
    </div>

    <% else %>
      <div class="container text-center">
      <div class=flex justify-around">
          <div><%= render partial: "images/nodataSVG.html.erb" %><div>
          <span class="text-dark">No task yet.</span>
          <div>
      <div>
    <% end %>
      
      <div class= "py-5">
        <h5>Add task:</h5>
        <br>
        <%= render 'tasks/form' %>
      </div>
    </div>
</div>

